.project {
  font-size: 1.7vmax;
  border-radius: 20px;
  margin: 5%;
  height: -moz-fit-content;
  height: fit-content;
  padding: 1%;
  background: black;
  overflow: hidden;
}
.project > .iab {
  float: left;
  height: -moz-fit-content;
  height: fit-content;
  display: block;
  align: middle;
  width: 50%;
}
.project > .iab > * {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.project > .iab > a {
  margin: 1vh;
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 2vmax;
  border-radius: 16vh;
  transition: scale 0.4s cubic-bezier(0.34, 1.56, 0.64, 1), filter 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);
}
#Itch {
  background: #fa5c5c;
  border: solid #b94242;
  border-radius: 10px !important;
  font-size: 3vmax;
  text-shadow: -1.5px -1.5px 0 #b94242, 1.5px -1.5px 0 #b94242, -1.5px 2px 0 #b94242, 1.5px 2px 0 #b94242;
}

#Gamebanana {
  background: linear-gradient(0deg, #131a20, #182430);
  border: solid rgb(226, 200, 31);
  text-shadow: -1.5px -1.5px 0 #a7941a, 1.5px -1.5px 0 #a7941a, -1.5px 2px 0 #a7941a, 1.5px 2px 0 #a7941a;
}

#Funkipedia {
  background: #002f59;
  border: solid #339933;
  text-shadow: -1.5px -1.5px 0 #339933, 1.5px -1.5px 0 #339933, -1.5px 2px 0 #339933, 1.5px 2px 0 #339933;
}

.project > .iab > a:hover {
  scale: 1.1 1.1;
  filter: brightness(120%);
}
.project > .iab > a:active {
  transition: scale 0.05s cubic-bezier(0.34, 1.56, 0.64, 1);
  scale: 0.9 0.9;
  filter: brightness(70%);
}
#DNB.project {
  outline: solid 1vw #4D8794;
  background-image: url("assets/circle.svg"), url("assets/circle.svg"), url("assets/diagonal_lines.svg"), linear-gradient(45deg, rgba(91, 179, 116, 0.969) 0%, #4D8794 70%);
  background-repeat: no-repeat, no-repeat, repeat, no-repeat;
  background-size: 600% 600%, 400% 200%, 100% 100%, 100% 100%;
  background-position: center bottom, center -150vh, 0 0, 0 0;
}
#DNB.project > p {
  color: white;
  width: 100%;
  text-shadow: -1.5px -1.5px 0 #225c30, -1.5px -0.5px 0 #225c30, -1.5px 0.5px 0 #225c30, -1.5px 1.5px 0 #225c30, -0.5px -1.5px 0 #225c30, -0.5px -0.5px 0 #225c30, -0.5px 0.5px 0 #225c30, -0.5px 1.5px 0 #225c30, 0.5px -1.5px 0 #225c30, 0.5px -0.5px 0 #225c30, 0.5px 0.5px 0 #225c30, 0.5px 1.5px 0 #225c30, 1.5px -1.5px 0 #225c30, 1.5px -0.5px 0 #225c30, 1.5px 0.5px 0 #225c30, 1.5px 1.5px 0 #225c30;
  font-size: inherit;
}

#SAM.project {
  border: solid 2vw black;
  outline: solid 1vw white;
  background: url("assets/weird_lines.webp") repeat-x bottom, linear-gradient(180deg, rgb(228, 228, 228) 20%, rgb(179, 179, 179) 80%) no-repeat;
  background-blend-mode: color-burn, normal;
}
#SAM.project > p {
  color: white;
  width: 100%;
  text-shadow: -1.5px -1.5px 0 #464646, -1.5px -0.5px 0 #464646, -1.5px 0.5px 0 #464646, -1.5px 1.5px 0 #464646, -0.5px -1.5px 0 #464646, -0.5px -0.5px 0 #464646, -0.5px 0.5px 0 #464646, -0.5px 1.5px 0 #464646, 0.5px -1.5px 0 #464646, 0.5px -0.5px 0 #464646, 0.5px 0.5px 0 #464646, 0.5px 1.5px 0 #464646, 1.5px -1.5px 0 #464646, 1.5px -0.5px 0 #464646, 1.5px 0.5px 0 #464646, 1.5px 1.5px 0 #464646;
  font-size: inherit;
}

.gallery-space {
  margin: 2vmax;
  border-radius: 5vmax;
  background-color: rgba(15, 0, 26, 0.6039215686);
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  padding: 1%;
}
.gallery-space > img {
  position: relative;
  height: 20vmax;
  margin: 1%;
  transition: box-shadow 0.2s cubic-bezier(0.16, 1, 0.3, 1), transform 0.2s cubic-bezier(0.16, 1, 0.3, 1), translate 0.4s cubic-bezier(0.16, 1, 0.3, 1);
}
.gallery-space > img:hover {
  transform: scale(1.3, 1.3);
  z-index: 1;
  box-shadow: 0 0 12px 2px #0f001a;
  cursor: pointer;
}
.gallery-space > .credited {
  position: relative;
  display: flex;
  transition: box-shadow 0.2s cubic-bezier(0.16, 1, 0.3, 1), transform 0.2s cubic-bezier(0.16, 1, 0.3, 1), translate 0.4s cubic-bezier(0.16, 1, 0.3, 1);
  margin: 1%;
  overflow: hidden;
}
.gallery-space > .credited > p {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.5882352941);
  color: white;
}
.gallery-space > .credited:hover {
  transform: scale(1.3, 1.3);
  z-index: 1;
  box-shadow: 0 0 12px 2px #0f001a;
  cursor: pointer;
}
.gallery-space > .credited > img {
  position: relative;
  height: 20vmax;
}

.gallery-space-comics {
  margin: 2vmax;
  border-radius: 5vmax;
  background-color: rgba(15, 0, 26, 0.6039215686);
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  padding: 1%;
  justify-content: center;
}
.gallery-space-comics > div {
  flex-basis: 100%;
  display: none;
}
.gallery-space-comics > img {
  filter: brightness(60%);
  transition: box-shadow 0.2s cubic-bezier(0.16, 1, 0.3, 1), transform 0.2s cubic-bezier(0.16, 1, 0.3, 1), translate 0.4s cubic-bezier(0.16, 1, 0.3, 1), filter 0.4s cubic-bezier(0.16, 1, 0.3, 1);
  margin: 1%;
  max-width: 30%;
  max-height: 30vh;
}
.gallery-space-comics > #ACTIVE {
  filter: brightness(200%);
  transform: scale(1.3, 1.3);
  z-index: 2;
}
.gallery-space-comics > #ACTIVEBOX {
  transform-origin: top;
  animation: comics-scale 0.5s cubic-bezier(0.16, 1, 0.3, 1);
}
.gallery-space-comics > img:not(#ACTIVE):hover {
  filter: brightness(80%) !important;
  transform: scale(1.15, 1.15);
  z-index: 1;
  box-shadow: 0 0 12px 2px #0f001a;
  cursor: pointer;
}
.gallery-space-comics:has(#ACTIVE) > img:not(#ACTIVE) {
  filter: brightness(20%);
}
.gallery-space-comics:has(#ACTIVE) > img:not(#ACTIVE):hover {
  filter: brightness(60%) !important;
}

@keyframes comics-scale {
  from {
    scale: 1 0;
  }
  to {
    scale: 1 1;
  }
}
.fullscreen-image {
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  -webkit-backdrop-filter: blur(18px);
          backdrop-filter: blur(18px);
}

.fullscreen-image-content {
  display: flex;
  margin: auto;
  max-width: 80%;
  max-height: 80vh;
}

.fullscreen-image-button {
  width: 7vh;
  height: 7vh;
  border-radius: 7vh;
  background: url("assets/arrow.svg"), rgba(26, 26, 26, 0.5019607843);
  background-position: center, 0;
  background-size: 75% 75%, cover;
  background-repeat: no-repeat;
  display: flex;
  transition: scale 0.4s cubic-bezier(0.16, 1, 0.3, 1), filter 0.4s cubic-bezier(0.16, 1, 0.3, 1);
}
.fullscreen-image-button:hover {
  filter: brightness(160%);
  scale: 1.2 1.2;
}
.fullscreen-image-button:active {
  transition: scale 0.1s cubic-bezier(0.16, 1, 0.3, 1), filter 0.1s cubic-bezier(0.16, 1, 0.3, 1);
  filter: brightness(70%);
  scale: 0.95 0.95;
}
.fullscreen-image-button #RIGHT {
  scale: -1 1;
}
.fullscreen-image-button #RIGHT:hover {
  scale: -1.2 1.2;
}
.fullscreen-image-button #RIGHT:active {
  scale: -0.95 0.95;
}

.fullscreen-image-lens {
  pointer-events: auto;
  display: none;
  position: absolute;
  z-index: 5;
  max-width: 80%;
  max-height: 80vh;
  --zoom-x: 50%;
  --zoom-y: 50%;
  -webkit-clip-path: circle(10vmax at var(--zoom-x) var(--zoom-y));
          clip-path: circle(10vmax at var(--zoom-x) var(--zoom-y));
}

.content {
  max-width: 80%;
  max-height: 80vh;
  display: flex;
}

.profile {
  border-radius: 20px;
  margin: 4vmin;
  background: black;
  overflow: hidden;
}
.profile > img {
  margin-left: 1vmax;
  float: left;
  width: 50%;
}
#GlitchenCracken.profile > img {
  filter: drop-shadow(-12px 12px 16px rgba(99, 9, 32, 0.7411764706));
}

#Vortex.profile > img {
  filter: drop-shadow(-12px 12px 20px rgba(149, 67, 255, 0.1725490196));
}

#SaiZons.profile > img {
  filter: drop-shadow(-12px 12px 16px rgba(3, 161, 27, 0.4196078431));
}

.profile > p {
  margin-top: 5vmax;
  color: white;
  font-size: 2vmax;
}
#GlitchenCracken.profile > p {
  text-shadow: -1.5px -1.5px 0 #ff9100, 1.5px -1.5px 0 #ff9100, -1.5px 1.5px 0 #ff0040, 1.5px 1.5px 0 #ff0040;
}

#Vortex.profile > p {
  text-shadow: -1.5px -1.5px 0 #e716a2, 1.5px -1.5px 0 #e716a2, -1.5px 1.5px 0 #300138, 1.5px 1.5px 0 #300138;
}

#SaiZons.profile > p {
  text-shadow: -1.5px -1.5px 0 #03a11a, 1.5px -1.5px 0 #03a11a, -1.5px 1.5px 0 black, 1.5px 1.5px 0 black;
}

.profile > .buttons {
  width: -webkit-fill-available;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.profile > div > a {
  text-align: center;
  width: 65%;
  text-decoration: none;
  float: left;
  margin: 0.5vmax auto;
  border-radius: 16vh;
  padding: 0.5vmax 10%;
  font-size: 2vmax;
  background: black;
  transition: scale 0.4s cubic-bezier(0.16, 1, 0.3, 1), box-shadow 0.4s cubic-bezier(0.16, 1, 0.3, 1), filter 0.4s cubic-bezier(0.16, 1, 0.3, 1);
}
#GlitchenCracken.profile > div > a {
  background: repeating-conic-gradient(rgba(0, 0, 0, 0.1176470588) 0% 25%, transparent 0% 50%) 50%/7vmax 7vmax, linear-gradient(#ff0040, #ff9100);
  padding: 1vmax;
  border-radius: 1vmax;
  border: solid medium #ff9100;
  color: white;
  font-size: 2.5vmax;
  text-shadow: -1.5px -1.5px 0 #ff9100, 1.5px -1.5px 0 #ff9100, -1.5px 1.5px 0 #ff0040, 1.5px 1.5px 0 #ff0040;
  box-shadow: 1px 0 25px 0.1px #6d001d;
}

#Vortex.profile > div > a {
  box-shadow: 1px 0 25px 0.1px #17092c;
}

#SaiZons.profile > div > a {
  box-shadow: 1px 0 25px 0.1px #0a2402;
}

.profile > div > a:hover {
  filter: brightness(140%);
  scale: 1.1 1.1;
}
.profile > div > a:active {
  transition: scale 0.05s cubic-bezier(0.34, 1.56, 0.64, 1);
  scale: 0.85 0.85;
  filter: brightness(70%);
}
.profile > div > #TwitterButton {
  color: white;
  text-shadow: -1.5px -1.5px 0 #1DA1F2, 1.5px -1.5px 0 #1DA1F2, -1.5px 1.5px 0 #1DA1F2, 1.5px 1.5px 0 #1DA1F2;
  background: #44b7ff;
  border: solid medium #1DA1F2;
}
.profile > div > #YoutubeButton {
  color: white;
  text-shadow: -1.5px -1.5px 0 red, 1.5px -1.5px 0 red, -1.5px 1.5px 0 red, 1.5px 1.5px 0 red;
  background: #dd0000;
  border: solid medium red;
}
.profile > div > #NewgroundsButton {
  font-size: 20px !important;
  color: white;
  background: linear-gradient(#fda038, #fd3941);
  border-radius: 10px;
}
#GlitchenCracken.profile {
  border: solid thick #ff9100;
  background: url("assets/profiles/glitch/bg.jpg");
  background-size: cover;
}

#Vortex.profile {
  border: solid thick #50009b;
  background: url("https://pbs.twimg.com/profile_banners/1304903098146656258/1699058325/600x200");
  background-size: cover;
}

#SaiZons.profile {
  border: solid thick #03a11a;
  background-image: url("https://static.vecteezy.com/system/resources/thumbnails/003/217/796/small/cyber-hacker-attack-background-skull-vector.jpg");
  background-size: cover;
}

@font-face {
  font-display: swap;
  font-family: Baloo;
  src: url("assets/fonts/Baloo-Regular.woff2");
}
a, p, div {
  -webkit-tap-highlight-color: transparent;
  font-family: "Baloo";
}

img {
  transform: translateZ(0);
}

html {
  margin: 0;
}
html::before {
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: white;
  background: url("assets/bg.webp") no-repeat center center;
  background-size: cover;
  will-change: transform;
  z-index: -1;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
}

.blur {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(18px) saturate(50%) contrast(150%);
          backdrop-filter: blur(18px) saturate(50%) contrast(150%);
}

.banner {
  margin: 2% 10% 2% 10%;
  width: 60% !important;
}

.navbar {
  position: relative;
  padding: 0;
  margin: 0;
  display: flex;
  list-style-type: none;
  justify-content: center;
}

.navbar-options {
  display: flex;
  justify-content: center;
  align-items: center;
  filter: brightness(0.4);
  position: relative;
  border: thick solid #210038;
  border-radius: 20px 20px 0 0;
  color: #210038;
  width: 15%;
  padding: 1%;
  font-size: 2vmax;
  text-align: center;
  background-image: url("assets/halftone.svg"), linear-gradient(0, #fff 0%, transparent 40%), linear-gradient(360deg, #FFB6B6 30%, #912D9E 70%);
  background-repeat: repeat-x, no-repeat, no-repeat;
  background-size: auto 400%, 93% 90%, 200% 200%;
  background-position: 0 110%, center, 0 50%;
  text-decoration: none;
  transition: transform 0.2s cubic-bezier(0.34, 1.56, 0.64, 1), box-shadow 0.2s cubic-bezier(0.34, 1.56, 0.64, 1), background-position 0.7s cubic-bezier(0.34, 1.56, 0.64, 1), translate 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}
.navbar-options:hover {
  z-index: 1;
  filter: brightness(0.7);
  box-shadow: 0 -0.5rem 1rem 0.2rem #0f001a;
  transform-origin: center bottom;
  transform-box: view-box;
  transform: scale(1.12, 1.12) scaleZ(2);
  background-position: 0 100%, center, 0 90%;
}
#ACTIVE {
  filter: brightness(105%);
  z-index: 2;
  box-shadow: 0 -0.5rem 1rem 0.2rem #0f001a;
  transform-origin: center 80%;
  transform-box: view-box;
  transform: scale(1.3, 1.3) scaleZ(2);
  background-position: 0 100%, center, 0 90%;
}

@media (max-width: 800px) {
  .navbar-options {
    width: 25%;
  }
}

.category {
  display: none;
  border: 0.7vmax solid #210038;
  margin: auto;
  width: 74vw;
  min-height: 100%;
  max-height: -moz-max-content;
  max-height: max-content;
  background-image: url("assets/halftone.svg"), linear-gradient(0, #fff 0%, transparent 40%), linear-gradient(360deg, #FFB6B6 30%, #912D9E 70%);
  background-size: 180vh auto, 93% 93%, auto;
  background-repeat: no-repeat;
  background-position: 0 -70vh, center, 0 0;
}
.ACTIVE {
  display: block;
  animation: squish 0.5s cubic-bezier(0.34, 1.56, 0.64, 1);
}

@media (max-width: 800px) {
  .category {
    width: calc(100% - 1.4vmax);
  }
}

@keyframes squish {
  from {
    scale: 0.97 1.03;
  }
  20% {
    scale: 1.03 0.97;
  }
  40% {
    scale: 0.98 1.02;
  }
  60% {
    scale: 1.01 0.99;
  }
  80% {
    scale: 0.995 1.005;
  }
  to {
    scale: 1 1;
  }
}
#Socials.category {
  display: inherit;
  min-height: auto;
}

.hoverable-text:hover {
  text-decoration: underline !important;
}

#Discord {
  text-decoration: none;
  color: #5865F2;
  text-shadow: -1.5px -1.5px 0 black, -1.5px -0.5px 0 black, -1.5px 0.5px 0 black, -1.5px 1.5px 0 black, -0.5px -1.5px 0 black, -0.5px -0.5px 0 black, -0.5px 0.5px 0 black, -0.5px 1.5px 0 black, 0.5px -1.5px 0 black, 0.5px -0.5px 0 black, 0.5px 0.5px 0 black, 0.5px 1.5px 0 black, 1.5px -1.5px 0 black, 1.5px -0.5px 0 black, 1.5px 0.5px 0 black, 1.5px 1.5px 0 black;
  font-size: 2.2vmax;
}

#Twitter {
  text-decoration: none;
  color: #1DA1F2;
  text-shadow: -1.5px -1.5px 0 black, -1.5px -0.5px 0 black, -1.5px 0.5px 0 black, -1.5px 1.5px 0 black, -0.5px -1.5px 0 black, -0.5px -0.5px 0 black, -0.5px 0.5px 0 black, -0.5px 1.5px 0 black, 0.5px -1.5px 0 black, 0.5px -0.5px 0 black, 0.5px 0.5px 0 black, 0.5px 1.5px 0 black, 1.5px -1.5px 0 black, 1.5px -0.5px 0 black, 1.5px 0.5px 0 black, 1.5px 1.5px 0 black;
  font-size: 2.2vmax;
}

#Tumblr {
  text-decoration: none;
  color: #56BC8A;
  text-shadow: -1.5px -1.5px 0 black, -1.5px -0.5px 0 black, -1.5px 0.5px 0 black, -1.5px 1.5px 0 black, -0.5px -1.5px 0 black, -0.5px -0.5px 0 black, -0.5px 0.5px 0 black, -0.5px 1.5px 0 black, 0.5px -1.5px 0 black, 0.5px -0.5px 0 black, 0.5px 0.5px 0 black, 0.5px 1.5px 0 black, 1.5px -1.5px 0 black, 1.5px -0.5px 0 black, 1.5px 0.5px 0 black, 1.5px 1.5px 0 black;
  font-size: 2.2vmax;
}

#Tumblr:hover, #Twitter:hover, #Discord:hover {
  text-decoration: underline;
}