.profile {
	border-radius: 20px;
	margin: 4vmin;
	background: black;
	overflow: hidden;

	> img {
		margin-left: 1vmax;
		float: left;
		width: 50%;

		@at-root #GlitchenCracken#{&} {
			filter: drop-shadow(-12px 12px 16px #630920bd);
		}
		@at-root #Vortex#{&} {
			filter: drop-shadow(-12px 12px 20px #9543ff2c);
		}
		@at-root #SaiZons#{&} {
			filter: drop-shadow(-12px 12px 16px #03a11b6b);
		}
	}
	> p {
		margin-top: 5vmax;
		color: white;
		font-size: 2vmax;

		@at-root #GlitchenCracken#{&} {
			text-shadow:
				-1.5px -1.5px 0 #ff9100,
				1.5px -1.5px 0 #ff9100,
				-1.5px 1.5px 0 #ff0040,
				1.5px 1.5px 0 #ff0040;
		}
		@at-root #Vortex#{&} {
			text-shadow:
				-1.5px -1.5px 0 #e716a2,
				1.5px -1.5px 0 #e716a2,
				-1.5px 1.5px 0 #300138,
				1.5px 1.5px 0 #300138;
		}
		@at-root #SaiZons#{&} {
			text-shadow:
				-1.5px -1.5px 0 #03a11a,
				1.5px -1.5px 0 #03a11a,
				-1.5px 1.5px 0 black,
				1.5px 1.5px 0 black;
		}
	}
	> .buttons {
		width: -webkit-fill-available;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
	}
	> div > a {
		text-align: center;
		width: calc(100% - 35%);
		text-decoration: none;
		float: left;
		margin: 0.5vmax auto;	
		border-radius: 16vh;
		padding: 0.5vmax 10%;
		font-size: 2vmax;
		background: black;
		transition: 
			scale 0.4s cubic-bezier(0.16, 1, 0.3, 1),
			box-shadow 0.4s cubic-bezier(0.16, 1, 0.3, 1),
			filter 0.4s cubic-bezier(0.16, 1, 0.3, 1);

		@at-root #GlitchenCracken#{&} {
			background: repeating-conic-gradient(#0000001e 0% 25%, transparent 0% 50%) 50% / 7vmax 7vmax, linear-gradient(#ff0040, #ff9100);
			padding: 1vmax;
			border-radius: 1vmax;
			border: solid medium #ff9100;
			color: white;
			font-size: 2.5vmax;
			text-shadow:
				-1.5px -1.5px 0 #ff9100,
				1.5px -1.5px 0 #ff9100,
				-1.5px 1.5px 0 #ff0040,
				1.5px 1.5px 0 #ff0040;
			box-shadow: 1px 0 25px 0.1px #6d001d;
		}
		@at-root #Vortex#{&} {
			box-shadow: 1px 0 25px 0.1px #17092c;
		}
		@at-root #SaiZons#{&} {
			box-shadow: 1px 0 25px 0.1px #0a2402;
		}
	}
	> div > a:hover {
		filter: brightness(140%);
		scale: 1.1 1.1;
	}
	> div > a:active {
		transition: scale 0.05s cubic-bezier(0.34, 1.56, 0.64, 1);
		scale: 0.85 0.85;
		filter: brightness(70%);
	}
	> div > #TwitterButton {
		color: white; 
		text-shadow:
			-1.5px -1.5px 0 #1DA1F2,
			1.5px -1.5px 0 #1DA1F2,
			-1.5px 1.5px 0 #1DA1F2,
			1.5px 1.5px 0 #1DA1F2; 
		background: #44b7ff;
		border: solid medium #1DA1F2;
	}
	> div > #YoutubeButton {
		color: white; 
		text-shadow:
			-1.5px -1.5px 0 red,
			1.5px -1.5px 0 red,
			-1.5px 1.5px 0 red,
			1.5px 1.5px 0 red; 
		background: #dd0000;
		border: solid medium red;
	}
	> div > #NewgroundsButton {
		font-size: 20px !important;
		color: white; 
		background: linear-gradient(#fda038, #fd3941);
		border-radius: 10px;
	}
	@at-root #GlitchenCracken#{&} {
		border: solid thick #ff9100;
		background: url("assets/profiles/glitch/bg.jpg");
		background-size: cover;
	}
	@at-root #Vortex#{&} {
		border: solid thick #50009b;
		background: url("https://pbs.twimg.com/profile_banners/1304903098146656258/1699058325/600x200");
		background-size: cover;
	}
	@at-root #SaiZons#{&} {
		border: solid thick #03a11a;
		background-image: url("https://static.vecteezy.com/system/resources/thumbnails/003/217/796/small/cyber-hacker-attack-background-skull-vector.jpg");
		background-size: cover;
	}
}